<nav class="nav">
    <a href="#" class="brand">Immobilier</a>
    <p>Détail</p>
</nav>

<div class="container">
    <div class="img"> 
        <img *ngIf="annonce.image == null"  src="./assets/img/imob.jpeg" alt="">
        <img *ngIf="annonce.image != null" width="400px !important" height="300px" [src]="convertebyteToImg(annonce.image)" alt="">
    </div>
    <div class="detail">
        {{annonce?.titre}}<br>
        {{annonce?.description}}<br>
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est 
        le faux texte standard de l'imprimerie depuis les années 1500, </p>
    </div>
</div>

  
